<div class="login-container">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label>Email</label>
    <input type="email" placeholder="Email" formControlName="email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"class="error">
      Email invalide
    </div>

    <label>Mot de passe</label>
    <input type="password" placeholder="Mot de passe" formControlName="password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
      Mot de passe requis
    </div>
    <!-- Message erreur API -->
    <div 
      *ngIf="errorMessage"
      class="error">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="loginForm.invalid">
      Se connecter
    </button>
  </form>
</div>