html, body
  margin: 0
  padding: 0
  background-color: #0b0f14

.layout
  display: flex
  height: 100vh
  width: 100%
  background-color: #0b0f14

.content
  flex: 1
  overflow: auto
  padding: 20px
  background-color: #0b0f14

  &.full-width
    padding: 0